<!-- The navbar section -->
<section class="bg-light">
  <nav class="navbar navbar-light navbar-expand-lg bg-light navigation">
    <div class="container-fluid p-1">
      <a [routerLink]="['']" class="navbar-brand brand_logo">
        <span class="text-danger lead bold fw-bold">B.E.C.C</span>
      </a>

      <button
        type="button"
        class="navbar-toggler button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mt-1 mb-2">
          <li class="nav-item me-3">
            <a
              class="nav-link text-dark"
              [routerLink]="['/']"
              routerLinkActive="active"
              >Home</a
            >
          </li>

          <li class="nav-item me-3">
            <a
              class="nav-link text-dark"
              [routerLink]="['/about-us']"
              routerLinkActive="active"
              >About Us</a
            >
          </li>

          <li class="nav-item me-3">
            <a
              class="nav-link text-dark"
              [routerLink]="['/services']"
              routerLinkActive="active"
              >Services</a
            >
          </li>

          <li class="nav-item me-3">
            <a
              class="nav-link text-dark"
              [routerLink]="['/project']"
              routerLinkActive="active"
              >Project</a
            >
          </li>

          <li class="nav-item me-3">
            <a
              class="nav-link text-dark btn btn-danger"
              role="button"
              [routerLink]="['/contact-us']"
              routerLinkActive="active"
              >Contact Us</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>

<!-- The router outlet for the header section -->
<div class="wrapper">
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
