<!-- Carousel Section -->
<section class="bg-light">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <!-- First Carousel Item -->
      <div class="carousel-item active" data-interval="20">
        <div
          class="overlay-image"
          style="
            background-image: url(../../../assets/images/working-housing-project.jpg);
          "
        ></div>
        <div class="container cont">
          <div class="ms-5">
            <h1 class="mb-3">Birak Construction Company</h1>
            <h3 class="fw-bold mb-3">
              The Best Reliable Construction Solution
            </h3>
            <a href="" role="button" class="btn btn-success">A Quote</a>
          </div>
        </div>
      </div>

      <!-- Second Carousel Item -->
      <div class="carousel-item" data-interval="20">
        <div
          class="overlay-image"
          style="
            background-image: url(../../../assets/images/troy-mortier-eKY6_9W_iqY-unsplash.jpg);
          "
        ></div>
        <div class="container cont">
          <div class="ms-5">
            <h1 class="mb-3">10 Years of Working Experience</h1>
            <h3 class="fw-bold mb-3">Birak Construction Company</h3>
            <a href="" role="button" class="btn btn-success">A Quote</a>
          </div>
        </div>
      </div>

      <!-- Third Carousel Item -->
      <div class="carousel-item" data-interval="20">
        <div
          class="overlay-image"
          style="
            background-image: url(../../../assets/images/josue-isai-ramos-figueroa-qvBYnMuNJ9A-unsplash.jpg);
          "
        ></div>
        <div class="container cont">
          <div class="ms-5">
            <h1 class="mb-3">Birak Construction Company</h1>
            <h3 class="fw-bold mb-3">
              The Best Reliable Construction Solution
            </h3>
            <a href="" role="button" class="btn btn-success">A Quote</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Previous and next carousel -->
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<!-- We are to help you build your dreams Section -->
<section class="bg-dark p-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 p-5 mt-5">
        <h3 class="fs-4 color card-title">
          We are the help you need to build <br />
          your dreams Professionally
        </h3>
        <p class="mt-4 card-text">
          We always prioritize the maximum possible result with modern methods
          and latest technology
        </p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="card border-light">
          <img
            src="../../../assets/images/content-female-plant-worker-standing-with-tablet-looking-away (1).jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About Us Section -->
<section class="bg-warning p-1">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 mt-1">
        <img
          src="../../../assets/images/8104-removebg-preview.png"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 p-4">
        <h3 class="underline">About Us</h3>
        <h4 class="mt-3">What we do.</h4>
        <p>
          Birak Engineering & Construction Company Limited, BECC has delivered
          high quality integrated construction solutions. The majority of our
          contracts are 'design and build'
          <a [routerLink]="['/about-us']" class="about">read more</a>
        </p>

        <div class="row mt-4">
          <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
            <div class="bg-success card p-2 border-light text-light">
              <h3 class="fw-bold fs-1">10+</h3>
              <h4>Years of Experience</h4>
            </div>
          </div>
          <div class="col-sm-12 col-md-8 col-lg-8">
            <p>
              <i class="fas fa-check"></i> Residential Building Construction
            </p>
            <p>
              <i class="fas fa-check"></i> Industrial & Large Scale Construction
            </p>
            <p>
              <i class="fas fa-check"></i> Site Planning & Project Management
            </p>
            <p><i class="fas fa-check"></i> Maintenance</p>
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-start mt-4">
          <div class="row">
            <!-- Email Us -->
            <div
              class="col-sm-12 col-md-6 col-lg-6 d-flex align-items-center gap-3"
            >
              <div class="bg-success rounded-circle p-2 text-center ms-4">
                <i class="fa-regular fa-envelope fs-5"></i>
              </div>

              <div class="">
                <p class="">Email Us</p>
                <p class="fw-bold">beccltd@gmail.com</p>
              </div>
            </div>

            <!-- Call Us -->
            <div
              class="col-sm-12 col-md-6 col-lg-6 d-flex align-items-center gap-3"
            >
              <div class="bg-success rounded-circle p-2 text-center ms-4">
                <i class="fas fa-phone fs-5"></i>
              </div>

              <div class="">
                <p class="">Call Us</p>
                <p class="fw-bold">+234 8035 895 958</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Our Services Section -->
<section class="bg-dark text-dark p-2 text-center">
  <div class="container">
    <div class="row">
      <p class="mt-4">OUR SERVICES</p>
      <h2 class="text-center mb-5">
        We Provide Best <br />
        Construction Services
      </h2>

      <!-- Industrial Construction -->
      <div class="col-12 col-md-6 col-lg-4 mb-5">
        <div class="bg-light border shadow border-light rounded text-dark mt-4">
          <div class="row">
            <img
              src="../../../assets/images/troy-mortier-eKY6_9W_iqY-unsplash.jpg"
              alt="user-profile"
              class="img-fluid img_class"
            />
          </div>
          <div class="card cardy border-light">
            <div class="card-body text-center">
              <div class="intro">
                <h6 class="card-title fw-bold fs-5">
                  INDUSTRIAL & COMMERCIAL SIZE CONSTRUCTION
                </h6>
                <p class="card-text mt-2 mb-3">
                  We provide top notch construction service for industrial and
                  large scale buildings.
                </p>
              </div>
              <div
                class="d-flex align-items-center justify-content-center read-more mt-5"
              >
                <a
                  [routerLink]="['/services/industrial-construction']"
                  role="button"
                  class="btn btn-light p-2"
                  >Read More</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Site Planning -->
      <div class="col-12 col-md-6 col-lg-4 mb-5">
        <div class="bg-light border shadow border-light rounded text-dark mt-4">
          <div class="row">
            <img
              src="../../../assets/images/discussing-blueprint.jpg"
              alt="user-profile"
              class="img-fluid img_class"
            />
          </div>
          <div class="card cardy border-light">
            <div class="card-body text-center">
              <div class="intro">
                <h6 class="card-title fw-bold fs-5">
                  LANDSCAPE ARCHITECTURE & SITE PLANNING
                </h6>
                <p class="card-text mt-2 mb-3">
                  We offer thorough site plans and project management to ensure
                  proper utilization of resource and on time project delivery.
                </p>
              </div>
              <div
                class="d-flex align-items-center justify-content-center read-more mt-5"
              >
                <a
                  [routerLink]="['/services/site-planning']"
                  role="button"
                  class="btn btn-light p-2"
                  >Read More</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Road Construction -->
      <div class="col-12 col-md-6 col-lg-4 mb-5">
        <div class="bg-light border shadow border-light rounded text-dark mt-4">
          <div class="row">
            <img
              src="../../../assets/images/excavator-action.jpg"
              alt="user-profile"
              class="img-fluid img_class"
            />
          </div>
          <div class="card cardy border-light">
            <div class="card-body text-center">
              <div class="intro">
                <h6 class="card-title fw-bold fs-5">ROAD CONSTRUCTION</h6>
                <p class="card-text mt-2 mb-3">
                  We specialize in building and maintaining roads of all types
                  and sizes. We have the experience and expertise to deliver
                  high-quality, durable roads that meet the needs of the
                  communities we serve.
                </p>
              </div>
              <div
                class="d-flex align-items-center justify-content-center read-more mt-5"
              >
                <a
                  [routerLink]="['/services/road-construction']"
                  role="button"
                  class="btn btn-light p-2"
                  >Read More</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Reasons why people choosed us Section -->
<section class="bg-light p-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 mt-5 mb-4">
        <div class="card border-light">
          <img
            src="../../../assets/images/three-factory-workers-safety-hats-discussing-manufacture-plan (1).jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 text-align">
        <p class="mt-4">WHY CHOOSE US?</p>
        <h3>Few Reasons Why People Choose Us!</h3>
        <p>
          We put a strong emphasis on the quality of our work and are also very
          time sensitive, a few other reasons to work with us are;
        </p>
        <!-- Experienced Workers -->
        <div class="d-flex align-items-center justify-content-center mt-3">
          <div class="bg-success rounded-circle p-1 text-center">
            <i class="fas fa-check"></i>
          </div>
          <div class="ms-4 mb-3 mt-3">
            <h4 class="">Experienced Workers</h4>
            <p class="">
              We are a big family of certified and experienced Engineers, and
              very dedicated individuals with a simple goal of excellence and
              solid constructions
            </p>
          </div>
        </div>

        <!-- Reliable Industrial Services -->
        <div class="d-flex align-items-center justify-content-center">
          <div class="bg-secondary rounded-circle p-1 text-center">
            <i class="fas fa-check"></i>
          </div>
          <div class="ms-4 mb-3">
            <h4>Reliable Industrial Services</h4>
            <p class="">
              We provide large scale industrial services which can stand the
              test of time, due to our exclusive use of only high quality
              materials.
            </p>
          </div>
        </div>

        <!-- 24/7 Customer Support -->
        <div class="d-flex align-items-center justify-content-center">
          <div class="bg-secondary rounded-circle p-1 text-center">
            <i class="fas fa-check"></i>
          </div>
          <div class="ms-4">
            <h4>24/7 Customer Support</h4>
            <p class="">
              24/7 customer service to attend to any questions, appointments and
              Quote taking.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Client Section -->
<section class="bg-dark p-5 text-center">
  <!-- <div class="container"> -->
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
      <div class="card border-light">
        <div class="card-body text-warning">
          <h5 class="card-title fs-1 mb-3">
            <i class="fas fa-certificate"></i>
          </h5>
          <h3 class="card-subtitle mb-2 fw-bolder fs-1">10+</h3>
          <p class="card-text fw-bold">Years of Experience</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
      <div class="card border-light">
        <div class="card-body text-warning">
          <h5 class="card-title fs-1 mb-3">
            <i class="fas fa-users-gear"></i>
          </h5>
          <h3 class="card-subtitle mb-2 fw-bolder fs-1">100</h3>
          <p class="card-text">Team Members</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
      <div class="card border-light">
        <div class="card-body text-warning">
          <h5 class="card-title fs-1 mb-3">
            <i class="fas fa-users"></i>
          </h5>
          <h3 class="card-subtitle mb-2 fw-bolder fs-1">24</h3>
          <p class="card-text">Happy Clients</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
      <div class="card border-light">
        <div class="card-body text-warning">
          <h5 class="card-title fs-1 mb-3">
            <i class="fas fa-check-double"></i>
          </h5>
          <h3 class="card-subtitle mb-2 fw-bolder fs-1">33</h3>
          <p class="card-text">Projects Done</p>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</section>

<!-- The Crew Section -->
<section class="bg-light p-1 text-center">
  <div class="container">
    <div class="row">
      <p class="mt-4 text-center">OUR CREW</p>
      <h2 class="text-center mb-5">
        We Have the Best <br />
        Crew Members
      </h2>
      <div class="col-sm-12 col-md-12 col-lg-4 mb-4">
        <div class="card border-light">
          <img
            src="../../../assets/images/image0 (5).jpeg"
            class="card-img-top height"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">YENER BATUM</h5>
            <p class="card-text">Md & Ceo</p>
            <div
              class="d-flex align-items-center justify-content-center p-2 gap-3"
            >
              <a href="" class="fs-6 nav-link"
                ><i class="bi bi-facebook"></i
              ></a>
              <a href="" class="fs-6 nav-link"><i class="bi bi-twitter"></i></a>
              <a href="" class="fs-6 nav-link"
                ><i class="bi bi-instagram"></i
              ></a>
              <a href="" class="fs-6 nav-link"
                ><i class="bi bi-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 mb-4">
        <div class="card border-light">
          <img
            src="../../../assets/images/image0 (5).jpeg"
            class="card-img-top height"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">EMMANUEL IREN</h5>
            <p class="card-text">Director Finance</p>
            <div
              class="d-flex align-items-center justify-content-center p-2 gap-3"
            >
              <a href="" class="fs-6 nav-link"
                ><i class="bi bi-facebook"></i
              ></a>
              <a href="" class="fs-6 nav-link"><i class="bi bi-twitter"></i></a>
              <a href="" class="fs-6 nav-link"
                ><i class="bi bi-instagram"></i
              ></a>
              <a href="" class="fs-6 nav-link"
                ><i class="bi bi-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 mb-4">
        <div class="card border-light">
          <img
            src="../../../assets/images/image0 (5).jpeg"
            class="card-img-top height"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">MIKE CHIKE AKUKWE</h5>
            <p class="card-text">Director Engineering</p>
            <div
              class="d-flex align-items-center justify-content-center p-2 gap-3"
            >
              <a href="" class="fs-6 nav-link"
                ><i class="bi bi-facebook"></i
              ></a>
              <a href="" class="fs-6 nav-link"><i class="bi bi-twitter"></i></a>
              <a href="" class="fs-6 nav-link"
                ><i class="bi bi-instagram"></i
              ></a>
              <a href="" class="fs-6 nav-link"
                ><i class="bi bi-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
