.carousel-item {
  height: 37rem;
  background: #000;
  color: #fff;
  position: relative;
}

.cont {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 15%;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

.color {
  color: #d4a737;
}

.bg-success {
  background: #d4a737 !important;
  border-radius: 5px;
}

.card {
  box-shadow: #fff !important;
}

.text-warning {
  color: #d4a737 !important;
}

.btn-success {
  background: #fff !important;
  color: #000 !important;
  border: none;
}

.btn-success:hover {
  background: #d4a737 !important;
}

.bg-warning {
  background: #bba05b !important;
}

.underline {
  text-decoration: underline;
}

.bg-dark {
  background: #fff !important;
}

.border-light {
  border: none !important;
}

.image-class {
  height: 490px;
}

.bg-secondary {
  background: #d4a737 !important;
  border: none;
}

.btn-light {
  background: #fff !important;
  border: none;
  color: #d4a737 !important;
}

.btn-light:hover {
  background: #d4a737 !important;
  color: #fff !important;
}

.img_class {
  margin-top: -1.5rem;
}

.read-more {
  margin-bottom: -1.9rem;
}

.intro {
  height: 40px;
  transition: all 0.5s cubic-bezier(0.48, -0.28, 0.41, 1.4);
}

.cardy p {
  visibility: hidden;
  opacity: 0;
}

.cardy:hover p {
  visibility: visible;
  opacity: 1;
}

.cardy:hover {
  cursor: pointer;
}

.cardy:hover .intro {
  height: 100px;
  background: #fff;
  color: #000;
  left: 0;
  bottom: 0;
}

.cardy:hover .intro p {
  color: #d4a737;
}

.height {
  height: 180px;
}

.button {
  border-radius: 15px;
}

.img-size {
  object-fit: cover;
}

.about {
  color: #fff;
  // text-decoration: none;
}

@media (max-width: 768px) {
  .text-align {
    display: block;
    align-items: center;
    justify-content: center;
  }
}
