<!-- Carousel Section -->
<section class="bg-light">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <!-- First Carousel Item -->
      <div class="carousel-item active" data-interval="20">
        <div
          class="overlay-image"
          style="
            background-image: url(../../../assets/images/discussing-blueprint.jpg);
          "
        ></div>
        <div class="container cont">
          <div class="ms-5">
            <h1 class="mb-3 fs-2 animation">About Us</h1>

            <!-- BreadCrumb -->
            <nav aria-label="breadcrumb" class="text-light animation ms-1">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a [routerLink]="['/']" class="nav-link fs-5">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  <span class="text-light fs-5">About Us</span>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About Us Section -->
<section class="bg-dark text-start p-3">
  <div class="container">
    <div class="col-12">
      <p class="mt-4">About Us</p>
      <h2 class="mb-3">We Are a Leader in the Construction Industry</h2>
      <p class="card-text">
        Birak Engineering & Construction Company Limited, BECC has delivered
        high quality integrated construction solutions. The majority of our
        contracts are 'design and build' projects. We are involved in each stage
        of the project, from architectural design, planning approval and
        construction. We also provide building maintenance and facility
        management solutions. This holistic approach delivers cost
        effectiveness, streamlines project management and shortens construction
        timelines. Our success and reputation today are built on the consistent
        delivery of quality, speed, efficiency and overall client satisfaction.
      </p>
      <p>
        We have expanded our operational and service offering to cater to a wide
        spectrum of construction needs in both the public and private sectors.
        Our portfolio of work comprises successful projects in the residential,
        commercial and industrial spaces, working with clients across all
        sectors and with differing budgets. We are an associated member of a
        group of companies that provide services across all areas of the
        construction industry.
      </p>
    </div>
  </div>
</section>

<!-- Client Section -->
<section class="bg-light p-5 text-center">
  <!-- <div class="container"> -->
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
      <div class="card border-light">
        <div class="card-body text-warning">
          <h5 class="card-title fs-1 mb-3">
            <i class="fas fa-certificate"></i>
          </h5>
          <h3 class="card-subtitle mb-2 fw-bolder fs-1">10+</h3>
          <p class="card-text fw-bold">Years of Experience</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
      <div class="card border-light">
        <div class="card-body text-warning">
          <h5 class="card-title fs-1 mb-3">
            <i class="fas fa-users-gear"></i>
          </h5>
          <h3 class="card-subtitle mb-2 fw-bolder fs-1">100</h3>
          <p class="card-text">Team Members</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
      <div class="card border-light">
        <div class="card-body text-warning">
          <h5 class="card-title fs-1 mb-3">
            <i class="fas fa-users"></i>
          </h5>
          <h3 class="card-subtitle mb-2 fw-bolder fs-1">24</h3>
          <p class="card-text">Happy Clients</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
      <div class="card border-light">
        <div class="card-body text-warning">
          <h5 class="card-title fs-1 mb-3">
            <i class="fas fa-check-double"></i>
          </h5>
          <h3 class="card-subtitle mb-2 fw-bolder fs-1">33</h3>
          <p class="card-text">Projects Done</p>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</section>

<!-- The Crew Section -->
<section class="bg-dark p-1 text-center">
  <div class="container">
    <div class="row">
      <p class="mt-4 text-center">OUR CREW</p>
      <h2 class="text-center mb-5">
        We Have the Best <br />
        Crew Members
      </h2>
      <div class="col-sm-12 col-md-12 col-lg-4 mb-4">
        <div class="card border-light">
          <img
            src="../../../assets/images/image0 (5).jpeg"
            class="card-img-top height"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">YENER BATUM</h5>
            <p class="card-text">Md & Ceo</p>
            <div
              class="d-flex align-items-center justify-content-center p-2 gap-3"
            >
              <a href="" class="fs-6 nav-link"
                ><i class="bi bi-facebook"></i
              ></a>
              <a href="" class="fs-6 nav-link"><i class="bi bi-twitter"></i></a>
              <a href="" class="fs-6 nav-link"
                ><i class="bi bi-instagram"></i
              ></a>
              <a href="" class="fs-6 nav-link"
                ><i class="bi bi-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 mb-4">
        <div class="card border-light">
          <img
            src="../../../assets/images/image0 (5).jpeg"
            class="card-img-top height"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">EMMANUEL IREN</h5>
            <p class="card-text">Director Finance</p>
            <div
              class="d-flex align-items-center justify-content-center p-2 gap-3"
            >
              <a href="" class="fs-6 nav-link"
                ><i class="bi bi-facebook"></i
              ></a>
              <a href="" class="fs-6 nav-link"><i class="bi bi-twitter"></i></a>
              <a href="" class="fs-6 nav-link"
                ><i class="bi bi-instagram"></i
              ></a>
              <a href="" class="fs-6 nav-link"
                ><i class="bi bi-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 mb-4">
        <div class="card border-light">
          <img
            src="../../../assets/images/image0 (5).jpeg"
            class="card-img-top height"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">MIKE CHIKE AKUKWE</h5>
            <p class="card-text">Director Engineering</p>
            <div
              class="d-flex align-items-center justify-content-center p-2 gap-3"
            >
              <a href="" class="fs-6 nav-link"
                ><i class="bi bi-facebook"></i
              ></a>
              <a href="" class="fs-6 nav-link"><i class="bi bi-twitter"></i></a>
              <a href="" class="fs-6 nav-link"
                ><i class="bi bi-instagram"></i
              ></a>
              <a href="" class="fs-6 nav-link"
                ><i class="bi bi-linkedin"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
