<section class="bg-success p-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4 p-4 mt-4">
        <h5 class="p-text mb-3 Mulish fw-bold">Our Office</h5>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item me-3 mb-1 Mulish">
            <a class="nav-link text-dark fs-6"
              ><i class="fas fa-location-pin"></i> &nbsp; No 7, Gana street,
              Maitama, Abuja.</a
            >
          </li>
          <li class="nav-item me-3 mb-1 Mulish d-none">
            <a class="nav-link text-dark fs-6"
              ><i class="fas fa-phone"></i> &nbsp;+234 8035 895 958</a
            >
          </li>
          <li class="nav-item me-3 mb-1 Mulish d-none">
            <a class="nav-link text-dark fs-6"
              ><i class="fas fa-phone"></i> &nbsp;+234 7035 383 798</a
            >
          </li>
          <li class="nav-item me-3 mb-1 Mulish">
            <a class="nav-link text-dark fs-6"
              ><i class="fa-regular fa-envelope"></i> &nbsp;
              batumyener@gmail.com</a
            >
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 p-4 mt-4">
        <h5 class="p-text fw-bold Mulish mb-3">Quick Links</h5>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item me-3 mb-1 Mulish">
            <a [routerLink]="['/about-us']" class="nav-link text-dark fs-6">
              <i class="fas fa-angle-left"></i> &nbsp; About Us</a
            >
          </li>
          <li class="nav-item me-3 mb-1 Mulish">
            <a [routerLink]="['/contact-us']" class="nav-link text-dark fs-6"
              ><i class="fas fa-angle-left"></i> &nbsp; Contact Us</a
            >
          </li>
          <li class="nav-item me-3 mb-1 Mulish">
            <a [routerLink]="['/services']" class="nav-link text-dark fs-6"
              ><i class="fas fa-angle-left"></i> &nbsp; Our Services</a
            >
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 p-4 mt-4">
        <h5 class="p-text fw-bold Mulish mb-3">Business Hours</h5>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item me-3 mb-1 Mulish">
            <a class="nav-link text-dark fs-6"
              >Monday - Friday <br />
              <span class="text-light fw-bold">09:00 am - 07:00 pm</span>
            </a>
          </li>
          <li class="nav-item me-3 mb-1 Mulish">
            <a class="nav-link text-dark fs-6"
              >Saturday <br />
              <span class="text-light fw-bold">09:00 am - 12:00 noon</span>
            </a>
          </li>
          <li class="nav-item me-3 mb-1 Mulish">
            <a class="nav-link text-dark fs-6"
              >Sunday <br />
              <span class="text-light fw-bold">Closed</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- The social media logo section -->
    <div class="px-4 text-center mt-2">
      <div class="row">
        <div class="col-12 p-2">
          <p class="fw-normal text-secondary fs-6 Mulish">
            Birak Construction Company © 2022 . All rights reserved
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
