<!-- Carousel Section -->
<section class="bg-light">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <!-- First Carousel Item -->
      <div class="carousel-item active" data-interval="20">
        <div
          class="overlay-image"
          style="
            background-image: url(../../../assets/images/discussing-blueprint.jpg);
          "
        ></div>
        <div class="container cont">
          <div class="ms-5">
            <h1 class="mb-3 fs-2 animation">Site Planning</h1>

            <!-- BreadCrumb -->
            <nav aria-label="breadcrumb" class="text-light animation ms-2 fs-5">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a [routerLink]="['/']" class="nav-link">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a [routerLink]="['/services']" class="lib">
                    <span class="text-light">Services</span>
                  </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  <span class="text-light">Site Planning Services</span>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Industrial Construction Section -->
<section class="bg-light p-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 mt-5 mb-5">
        <div class="card border-light">
          <img
            src="../../../../assets/images/8104-removebg-preview.png"
            class="card-img-top"
            alt="..."
          />
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <p class="mt-3">LANDSCAPE ARCHITECTURE AND SITE PLANNING</p>
        <h4 class="mt-3 fs-3 fw-bold mb-4">
          We Are A Leader In The Construction Industry
        </h4>
        <p>
          At our construction company, we offer comprehensive site planning and
          project management services to ensure that every project we undertake
          is a success. Our team of experienced professionals includes
          architects, engineers, and project managers who work closely with
          clients to develop detailed plans and schedules We have a proven track
          record of delivering projects on time and on budget, and we use the
          latest tools and techniques to ensure that every aspect of the project
          is well-coordinated and efficiently executed. Whether you need help
          with site selection, zoning, or any other aspect of project planning,
          we have the expertise and resources to get the job done right. In
          addition to site planning and project management, we also offer a
          range of related services such as budgeting, cost estimation, and risk
          assessment. No matter what your project needs may be, we have the
          experience and expertise to help you achieve your goals.
        </p>

        <div class="d-flex align-items-center justify-content-start mt-4">
          <div class="row">
            <!-- Email Us -->
            <div
              class="col-sm-12 col-md-6 col-lg-6 d-flex align-items-center gap-3"
            >
              <div class="bg-success rounded-circle p-2 text-center ms-4">
                <i class="fa-regular fa-envelope fs-5"></i>
              </div>

              <div class="">
                <p class="">Email Us</p>
                <p class="fw-bold">beccltd@gmail.com</p>
              </div>
            </div>

            <!-- Call Us -->
            <div
              class="col-sm-12 col-md-6 col-lg-6 d-flex align-items-center gap-3"
            >
              <div class="bg-success rounded-circle p-2 text-center ms-4">
                <i class="fas fa-phone fs-5"></i>
              </div>

              <div class="">
                <p class="">Call Us</p>
                <p class="fw-bold">+234 8035 895 958</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
